<div class="col-md-7">
    <div class="jumbotron">
        <h1>Let's Write some Angular!</h1>
    </div>

    <div class="row marketing">
        <h4>Here's some things we should do:</h4>
        <ul>
            <li>Can we make the Todo list on this page editable?</li>
            <li>Let's add a Route and Navigation to the Calculator View!</li>
            <li>Let's make the nav elements bold and the active one have a blue background</li>
            <li>Let's Make a progress bar!</li>
            <li>Let's Make a text reversing Filter</li>
            <li>Let's add a count to our Ebay search results</li>
            <li>Let's add some fields to our results!</li>
        </ul>

    </div>
</div>

<div class="col-md-5">
    <ae-todo-list ae-editable="false"></ae-todo-list>
</div>

